.backGroundImage{
    background: 
    linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),   
    url(../Assets/adult-helping-beaver-with-craft.jpg);
    background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    height: 75vh;

   
}

.imageTextBig{
    color: #FFFFFF; /* default supported fallback style */
    color: var(--scoutWhite)
}