name: Deploy to Azure
on: 
  push:
    branches:    
          - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v2
    - uses: tibor19/static-website-deploy@v1
      with:
        enabled-static-website: 'true'
        folder: '$web'
        connection-string: ${{ secrets.CONNECTION_STRING }}
